<header class="app-header">
  <div class="header-container">


    <nav class="main-nav">
      <ul>
        <li><a routerLink="/starter/home">Home</a></li>
        <li><a routerLink="/starter/pricing">Pricing</a></li>
        <li><a routerLink="/security/login">Console</a></li>
        <li><a>Contact</a></li>
        <li><a>Customers</a></li>
      </ul>
    </nav>

    <div class="user-actions">
      <button class="login-button">Login</button>
      <button class="signup-button">Sign Up</button>
    </div>
  </div>
</header>